## Happy Hare MMU hardware config file with config for EASY-BRD-RP2040

[mcu mmu]
serial: /dev/ttyACM1 # Config guess. Run ls -l /dev/serial/by-id and set manually	# Change to `canbus_uuid: 1234567890` for CANbus setups

# Section to create alias for pins used by MMU for easier integration into Klippain and RatOS.
# The names match those referenced in the mmu_hardware.cfg file. If you get into difficulty
# you can also comment these alisas and configure the pin names directly into mmu_hardware.cfg.
#
[board_pins mmu]
mcu: mmu # Assuming using an external / extra mcu dedicated to MMU
aliases:
    MMU_GEAR_UART=gpio6,
    MMU_GEAR_STEP=gpio27,
    MMU_GEAR_DIR=gpio28,
    MMU_GEAR_ENABLE=gpio26,
    MMU_GEAR_DIAG=,
    MMU_SEL_UART=gpio6,
    MMU_SEL_STEP=gpio7,
    MMU_SEL_DIR=gpio0,
    MMU_SEL_ENABLE=gpio29,
    MMU_SEL_DIAG=gpio2,
    MMU_SEL_ENDSTOP=gpio1,
    MMU_SERVO=gpio4,
    MMU_ENCODER=gpio3,
    MMU_GATE_SENSOR=
