#G2E
[extruder]
step_pin: th:EXT_STEP
dir_pin: th:EXT_DIR
enable_pin: !th:EXT_EN
rotation_distance: 47.069
gear_ratio: 9:1
microsteps: 32
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
max_extrude_only_distance: 200.0
max_extrude_cross_section: 50.0


##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
uart_pin: th:EXT_UART
interpolate: false
run_current: 0.6
#stealthchop_threshold: 999999
