[manual_stepper selector_stepper]
step_pin: ercf:MOT0_STEP
dir_pin: !ercf:MOT0_DIR
enable_pin: !ercf:MOT0_EN
rotation_distance: 40
microsteps: 16 			# Don't need high fidelity
full_steps_per_rotation: 200	# 200 for 1.8 degree, 400 for 0.9 degree
velocity: 200
accel: 600
#
# Select the endstop switch physical (for normal selector) or virtual (sensorless selector homing)
#endstop_pin: tmc2209_selector_stepper:virtual_endstop	# Uncomment for sensorless selector homing
endstop_pin: ^ercf:ESTOP0			# Uncomment for physical homing option (default)

# SELECTOR STEPPER  --------------------------------------------------------------------------------------------------------
[tmc2209 manual_stepper selector_stepper]
uart_pin: ercf:MOT0_CS
uart_address: 1
run_current: 0.5		# NEMA17 motor
hold_current: 0.3		# Can be small if not using sensorless selector
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 0	# 999999 to enable stealthChop
#
# Uncomment the lines below if you want to use sensorless selector homing
# (and configure ercf_parameters.cfg correctly)
# or comment out if using physical endstop switch (default)
#diag_pin: ^ercf:MOT0_DIAG		# Set to MCU pin connected to TMC DIAG pin
#driver_SGTHRS: 75		        # 255 is most sensitive value, 0 is least sensitive